canvas {
  width: 4px;
  height: 1px;
}

#mainCards {
  /* display: flex;
    /*justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px; */
}

.card {
  margin: 10px;
  color: blue;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin: 25px;
  font-family: "press start 2p", "consolas", "sans-serif";
  color: white;
}
.radar {
  background-color: rgb(0, 0, 255);
  border: 2px solid;
  position: center;
  left: 10vw;
  top: 7vh;
  z-index: 0;
  margin-bottom: 30px;
}

.hide{
  display:none
}

.show{
  display:block;
  align-items: center;
}