.p-titles{
  margin-bottom: 20px;
}


.page-content {
    max-width: 1400px; /* controls how wide the page can get */
  margin: 0 auto;    /* centers it horizontally */
  background-color: white /* optional: keeps the rest of the background visible */
}

.canvas {
  width: 1000px;     /* or 80%, or any size you prefer */
  height: 500px;
  margin: 0 auto;   /* centers it horizontally */
}



.card {
  margin: 10px;
  color: blue;
}

h1 {
  text-align: center;
  font-size: 62px;
  
  font-family: "press start 2p", "consolas", "sans-serif";
  color: white;
}
.radar {
  background: linear-gradient(to top, rgb(0, 0, 255), white);
  left: 10vw;
  top: 12vh;
  z-index: 0;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.show {
  display: block;
  align-items: center;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Style for the close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.img-nav {
  height: 80px;
  width: 95%;
  display: flex;
  justify-content: center;
}