.first {
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 20px;
  font-family: "press start 2p", "consolas", "sans-serif";
  color: blue;
}

.page-content {
  max-width: 1300px;
  /* controls how wide the page can get */
  margin: 0 auto;
  /* centers it horizontally */
  background-color: white
    /* optional: keeps the rest of the background visible */
}

.canvas {
  width: 1000px;
  /* or 80%, or any size you prefer */
  height: 500px;
  margin: 0 auto;
  /* centers it horizontally */
}

.card {
  margin: 10px;
  color: blue;
}

h1 {
  text-align: center;
  font-size: 47px;
  font-family: "press start 2p", "consolas", "sans-serif";
  color: white;
  margin: 10px 0;
}

.radar {
  background: #1c33d6;
  left: 10vw;
  top: 15vh;
  z-index: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  padding: 2px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.hide {
  display: none;
}

.show {
  display: block;
  align-items: center;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Style for the close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.img-nav {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.trending-title {
  font-size: 18px !important;
  /* smaller text */
  line-height: 1.2;
}

.first1 {
  margin-bottom: 30px;
  margin-top: 35px;
  font-size: 16px;
  font-family: "press start 2p", "consolas", "sans-serif";
  color: #1c33d6;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo-icon {
  width: 40px;
  height: auto;
}

.search-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-nav {
  margin-bottom: 10px;
}

.img-nav img {
  width: 70px;
  height: auto;
}

.brand-row {
  display: flex;
  align-items: center;
  /* centraliza verticalmente */
  gap: 12px;
}

.logo-radar {
  width: 65px;
}

.slogan {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: #6b6b6b;
  letter-spacing: 1px;
}
